<div class="container">
  <div class="row">
	<div class="col-md-6 col-md-offset-3">
	  <div class="center-block">
	  	 <p class="text-center">
		<h1>Welcom to
		  <i class="bi bi-book"><b>Bookers!!</b></i>
		</h1>
		<p style="line-height:2rem">In
		  <i class="bi bi-book"><b>Bookers</b></i>,<br>
		  	you can share and exchange your opinions , inpresiions , and emotions<p style="line-height:2rem">about various books!</p>
		　</p>
	  </div>
	<div class="row">
      <%= link_to "Log in", new_user_session_path, class:"btn btn-primary col-xs-10 col-xs-offset-1" %>
	</div>
	<div class="row">
	  <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success col-xs-10 col-xs-offset-1" %>
	</div>
  </div>
</div>